/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    display: flex;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/r-architecture-TRCJ-87Yoh0-unsplash-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    min-height: 98vh;
    overflow: hidden;
}
svg{
    padding-top: 2%;
    width: 30%;
}
.text{
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: whitesmoke;
    font-size: 4rem;
    padding: 7rem;
    background-color: #fed7aa73;
    border-radius: 25px;
    max-width: 80%;
}
li{
    color: whitesmoke;
    font-size: 4rem;
    padding-left: 10px;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: default;
}
li::marker{
    content: "•";
    color: #ffc205;
    font-size: 50px;
    margin-right: 10px;
}
.line{
    display: flex;
    align-items: center;
    margin-left: -4rem;
    padding-top: 1.6rem;
    gap: 1rem;
    transition: all 0.2s ease-in-out;
}
li:hover{
    filter: drop-shadow(5px 5px 10px #000000);
}
.line:hover{
    filter: drop-shadow(5px 5px 10px #000000);
}
.line svg{
    width: 5rem;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 4rem;
}
@media (max-width: 770px) {
    .lp{
        width: 50rem
    }
    .text{
        margin-top: -20rem;
    }
}
@media (max-width: 590px){
    body{
        font-size: 35%;
    }
}
@media (max-width: 490px){
    body{
        font-size: 20%;
    }
    .lp{
        width: 100%;
    }
    li{
        font-size: 2rem;
    }
}
@media (max-width: 400px){
    .text{
        padding: 4.2rem;
    }
}